# Ignore target directory
target/

# Ignore IDE-specific files
*.iml
.idea/
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/modules.xml
/.idea/*.iml
/.idea/misc.xml

# Ignore build output
/bin/
/build/
/out/

# Ignore Spring Boot application properties files
/application*.yml
/application*.properties

# Ignore log files
*.log

# Ignore Maven wrapper files
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties

# Ignore ProductService specific files
/ProductService/target/
/ProductService/bin/
/ProductService/out/
/ProductService/.mvn/wrapper/maven-wrapper.jar
/ProductService/.mvn/wrapper/maven-wrapper.properties
/ProductService/.idea/
/ProductService/*.iml
/ProductService/.idea/workspace.xml
/ProductService/.idea/tasks.xml
/ProductService/.idea/modules.xml
/ProductService/.idea/*.iml
/ProductService/.idea/misc.xml
/ProductService/.mvn/wrapper/maven-wrapper.jar
/ProductService/!.mvn/wrapper/maven-wrapper.jar
/ProductService/!**/src/main/**/target/
/ProductService/!**/src/test/**/target/
/ProductService/ProductService/.mvn/wrapper/maven-wrapper.jar
/ProductService/.mvn/*

# Ignore service-registry specific files
/service-registry/target/
/service-registry/bin/
/service-registry/out/
/service-registry/.mvn/wrapper/maven-wrapper.jar
/service-registry/.mvn/wrapper/maven-wrapper.properties
/service-registry/.idea/
/service-registry/*.iml
/service-registry/.idea/workspace.xml
/service-registry/.idea/tasks.xml
/service-registry/.idea/modules.xml
/service-registry/.idea/*.iml
/service-registry/.idea/misc.xml
/service-registry/.mvn/wrapper/maven-wrapper.jar
/service-registry/!.mvn/wrapper/maven-wrapper.jar
/service-registry/!**/src/main/**/target/
/service-registry/!**/src/test/**/target/
/service-registry/service-registry/.mvn/wrapper/maven-wrapper.jar
/service-registry/.mvn/*

# Ignore OrderService specific files
/OrderService/target/
/OrderService/bin/
/OrderService/out/
/OrderService/.mvn/wrapper/maven-wrapper.jar
/OrderService/.mvn/wrapper/maven-wrapper.properties
/OrderService/.idea/
/OrderService/*.iml
/OrderService/.idea/workspace.xml
/OrderService/.idea/tasks.xml
/OrderService/.idea/modules.xml
/OrderService/.idea/*.iml
/OrderService/.idea/misc.xml
/OrderService/.mvn/wrapper/maven-wrapper.jar
/OrderService/!.mvn/wrapper/maven-wrapper.jar
/OrderService/!**/src/main/**/target/
/OrderService/!**/src/test/**/target/
/OrderService/OrderService/.mvn/wrapper/maven-wrapper.jar
/OrderService/.mvn/*